body {
    background: linear-gradient(to bottom left, #524f7d 0%, #ffffff 30%);
}

#what {
    margin-top: 8%;
    width: 60%;
    margin-left: 33%;
    font-family: 'proxima_nova_rgregular';
  
}

#post {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #ffffff;
    border-radius: 10px;  
}
#head {
    font-size: medium;
    background-color: #cccccc;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
   
}
table{
    margin-left: 3%;
    margin-top: 3%;
}

/* #what {
    width: 45%;
    margin-left: 33%;
    margin-top: 8%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;

} */

section {
    margin-top: 5%;

}

section:hover {
    box-shadow: 0 3px 10px #27235c;
}

.right {
    position: relative;
    left: 10px;
}

app-texteditor {
    margin-right: 20%;
}

#delete {
    border: none;
    background: none;
}

#edit {
    border: none;
    background: none;
}

button {
    padding: 0;
    border: none;
    background: none;
    font-size: small;
}


*/ */ .circle {
    border-radius: 50%;
    width: 50px;
    height: 60px;
    display: flex;

    img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
}

.cls-1 {
    fill: #231f20;
}

.cls-2 {
    fill: #ffffff;
}

.cls-3 {
    fill: #00a1d3;
}

.cls-4 {
    fill: #f7d2d0;
}

.cls-5 {
    fill: #c6b9c4;
}

.cls-6 {
    fill: #ff8e5a;
}

.btn-block {
    font-size: medium;

}


/* Side Bar */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');

* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: 'Proxima Nova Condensed', sans-serif;

    font-family: 'Proxima Nova Extra Condensed', sans-serif;

} */

/* body {
   background-color: #FFFFFF;
   font-family: 'Proxima Nova Condensed', sans-serif;

   font-family: 'Proxima Nova Extra Condensed', sans-serif;

   height: 93%;

   width: 100%;

   background-position: center;

   background-size: cover;
   position: static;
} */

.sidebar {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 }
 
 .container-fluid {
    position: fixed;
    height: 111%;
    margin-top: 5.4%;
    margin-left: 4.9%;
    font-size: medium;
    font-weight: bold;
 
 }
 
 .row {
    height: 90%;
 }
 
 #side {
    height: 100%;
 }
 
 .list-group {
    position: relative;
 }
 
 .list-group :hover {
    background-color: #97247E;
    border-radius: 0%;
    color: #FFFFFF;
    box-shadow: 0 3px 10px #97247E;
 
 }
 
 .list-group-item {
    color: #27235c;
    margin-top: 3%;
    background-color: transparent;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 }
 
 #jeb {
    height: 40%;
    width: 90%;
 }
 
 .navbar-brand {
    font-size: 3.5rem;
    font-weight: bold;
 }
 
 .nav-link {
    color: #27235c;
    padding: 0.5rem 1rem;
 }
 
 .nav-link:hover {
    color: #27235c;
 }
 
 .dropdown-menu {
    background-color: #97247E;
    font-size: medium;
    font-weight: bold;
 
 }
 
 .dropdown-menu:hover {
    background-color: #FFFFFF;
 }
 
 .dropdown-item {
    color: #FFFFFF;
 
 }
 
 .dropdown-item:hover {
    background-color: #FFFFFF;
 }