/* new css */
*{
  font-family: 'proxima_nova_rgregular';  
}

#left{
  padding-top: 15%;
   padding-left: 5%;
  
} 
.form-2-wrapper {
padding-top: 50%;
  padding: 100px;
  border-radius: 8px;
}

button.login-btn:enabled{
  background: #27235C;
  color: #fff;
  border: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 30px;
}
button.login-btn:disabled {
background-color: #B3B3B3;
color: #666666;
border: none;
padding: 10px;
font-weight: bold;
border-radius: 30px;
}
