<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto sticky-top " style="background-color: #27235c;">
            <div class="d-flex flex-sm-column flex-row flex-nowrap align-items-center sticky-top"
                style="background-color: #27235C;">
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 align-items-center"
                    style="background-color: #27235C">



                    <br>
                    <a routerLink="/poll" class="nav-link " title="" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-original-title="Dashboard">
                        <img src="assets/relevantz-logo.png" style="width: 35px;">
                        <p style="color: white;font-size: smaller;">POLL</p>
                    </a>


                    <li routerLink="/create">
                        <a class="nav-link " title="" data-bs-toggle="tooltip" data-bs-placement="right"
                            data-bs-original-title="Dashboard">
                            <i class="fa fa-plus icon" style="font-size: 20px;"></i>
                            <p style="color: white;font-size: smaller;">Create</p>
                        </a>
                    </li>
                    <li routerLink="/polldept">
                        <a class="nav-link  px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-bs-original-title="Orders">
                          <i class="fa fa-chain " style="font-size: 20px;"></i>
            
                          <p style="color: white;font-size: smaller;">Depart</p>
                        </a>
                      </li>

                    <li routerLink="/draft">
                        <a class="nav-link  px-2 " title="" data-bs-toggle="tooltip" data-bs-placement="right"
                            data-bs-original-title="Orders">

                            <i class="fa fa-newspaper-o icon" style="font-size: 20px;"></i>
                            <p style="color: white;font-size: smaller;">Draft</p>
                        </a>
                    </li>


                    <li routerLink="/viewEmployee">
                        <a class="nav-link  px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                            data-bs-original-title="Orders">

                            <i class="fa fa-users icon" style="font-size: 20px;"></i>
                            <p style="color: white;font-size: smaller;">Employee</p>
                        </a>
                    </li>

                    <li><br>
                        <br>
                    </li>
                    <li routerLink="/User">
                        <a class="nav-link  px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                            data-bs-original-title="Orders">

                            <i class="fa fa-home icon" style="font-size: 20px;"></i>
                            <p style="color: white;font-size: smaller;">Home</p>
                        </a>
                    </li>
                    <br>

                </ul>
            </div>
        </div>
        <div class="col-sm p-3 min-vh-100">
            <img src="assets/user.png" width="24" alt="">

            <b>Employee Profile</b>
            <div style="display: flex;flex-wrap: nowrap;float: right;">

                <input class="form-control fa" type="search"  [(ngModel)]="searchName" placeholder="&#xf002; | Search here"
                aria-label="Search">


            </div>

            <br>
            <br>
            <br>
            <div class="row" *ngIf="Employee">

                <div class="card mt-4" style="width: 20rem;"
                    *ngFor="let users of user | employeesearchfilter:searchName ">
                    <div class="card-body text-center">
                        <i class="fa far fa-user-circle fa-4x"></i>
                        <h3 class="card-title">{{users.userFirstName}} {{users.userLastName}}</h3>
                        <h5>{{users.regionName}}</h5>
                        <button class="btn btn-sm btn-dark" routerLink="/profile">{{users.userEmailId}}</button>
                    </div>
                </div>
            </div>

            <div *ngIf="!Employee" class="row">
                <div class="card mt-4" style="width: 20rem;" *ngFor="let users of user | employeesearchfilter">
                    <div class="card-body text-center">
                        <i class="fa far fa-user-circle  fa-3x"></i>

                        <h2 class="card-title">{{users.userFirstName}} {{users.userLastName}}</h2>
                        <h5></h5>
                        <p>
                            <button class="btn btn-sm btn-dark" routerLink="/profile">
                                {{users.userEmailId}}
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>