<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Relevantz Logo"
      src="https://media.licdn.com/dms/image/D560BAQH5sX2sTw0XGg/company-logo_100_100/0/1710252826881/relevantzemergingtech_logo?e=2147483647&v=beta&t=njEL9vV8K43va5Ces17Ys5SzYiaJxENPyGDa3tJAVOk"
    />
    <span>Corporate Communication Platform</span>
      <div class="spacer"></div>
      <a  title="Add user details">
        <svg id="twitter-logo" data-name="Logo" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#ffff" class="bi bi-person-add" viewBox="0 0 16 16">
          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
          <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
        </svg>
      </a>  
  </div>
  
  <div class="align-items-center justify-content-center" style="margin-top:2%">
    <div class="form-2-wrapper" style="height:100% ; width:70%;padding-left: 40%;">
     
      <h2 class="text-center mt-1 mb-1"><b>Enter User Details</b></h2>
      <form [formGroup]="inviteForm">
        <div class="mb-3 form-box">
  
          <label for="First Name" class="col-form-label col-form-label-lg">First Name</label>
          <input type="text" id="userFirstName" class="form-control" formControlName="userFirstName" placeholder="Enter your first name">
          <div *ngIf="inviteForm.get('userFirstName')!.touched && inviteForm.get('userFirstName')!.invalid">
            <div *ngIf="inviteForm.get('userFirstName')!.hasError('required')">
              <b><font color="red">*First Name required</font></b>
            </div>
            <div *ngIf="inviteForm.get('userFirstName')!.hasError('pattern')">
              <b><font color="red">*Invalid First Name </font></b>
            </div> 
          </div>
        </div>
        <div class="mb-3 form-box">
          <label for="Last Name" class="col-form-label col-form-label-lg">Last Name</label>
          <input type="text" id="userLastName" class="form-control" formControlName="userLastName" placeholder="Enter your last name">
          <div *ngIf="inviteForm.get('userLastName')!.touched && inviteForm.get('userLastName')!.invalid">
            <div *ngIf="inviteForm.get('userLastName')!.hasError('required')">
              <b><font color="red">*Last Name required</font></b>
            </div>
            <div *ngIf="inviteForm.get('userLastName')!.hasError('pattern')">
              <b><font color="red">*Invalid Last Name</font></b>
            </div> 
          </div>
        </div>
        <div class="mb-3 form-box">
          <label for="email id" class="col-form-label col-form-label-lg">Email ID</label>
          <input type="email" id="userEmailId" class="form-control" formControlName="userEmailId" placeholder="Enter your email id">
          <div *ngIf="inviteForm.get('userEmailId')!.touched && inviteForm.get('userEmailId')!.invalid">
            <div *ngIf="inviteForm.get('userEmailId')!.hasError('required')">
              <b><font color="red">*Email id required</font></b>
            </div>
            <div *ngIf="inviteForm.get('userEmailId')!.hasError('pattern')">
              <b><font color="red">*Invalid Email id</font></b>
            </div> 
          </div>
        </div>
        <div class="mb-3 form-box">
          <label for="mobile number" class="col-form-label col-form-label-lg">Mobile Number</label>
          <input type="text" id="userMobileNumber" class="form-control" formControlName="userMobileNumber" placeholder="Enter your phone number" minlength="10"
          maxlength="10">
          <div *ngIf="inviteForm.get('userMobileNumber')!.touched && inviteForm.get('userMobileNumber')!.invalid">
            <div *ngIf="inviteForm.get('userMobileNumber')!.hasError('required')">
              <b><font color="red">*Mobile Number required</font></b>
            </div>
            <div *ngIf="inviteForm.get('userMobileNumber')!.hasError('pattern')">
              <b><font color="red">*Invalid Mobile number </font></b>
            </div> 
          </div>
        </div>
      
        <button type="submit" id ="login"  class="btn login-btn w-100 mt-3 mb-3" [disabled]="(inviteForm.invalid)" (click)="insert(inviteForm.value)">Register</button>
  
  <br>
  
         
         <div *ngIf="message.valueOf()">
          <p class="alert alert-success" id="alert">
            <strong>{{message}}</strong>
          </p>
        </div>
        <div *ngIf="message1.valueOf()">
          <p class="alert alert-warning" id="alert">
            <strong>{{message1}}</strong>
          </p>
        </div>
        <div *ngIf="message2.valueOf()">
            <p class="alert alert-danger" id="alert">
              <strong>{{message2}}</strong>
            </p>
          </div>
  
  </form>
  </div>
  </div>
  