i {
  color: white;
}

.nav-pills li:hover {
  background-color: #c17cb2;
  border-radius: 2px;
  width: 65px;
}

.nav-pills li.active {
  background-color: #ac5098;
  border-radius: 2px;
  width: 65px;
}

li {
  margin-top: 6px;
  margin-bottom: 6px;
}

li {
  cursor: pointer;
}
