<div class="container">
    <div class="row ">
      <!-- Left Blank Side -->
      <div class="col-lg-6 align-items-center justify-content-center left-side" id="left">
        <img width="500px" src="/assets/images/leftimg1.png" alt="logo">
        <h1 class="text-nowrap" style="font-weight: bold;">Corporate Communication Platform</h1>
      </div>
      <!-- Right Side Form -->
      <div class="col-lg-6  d-flex align-items-center justify-content-center right-side mt-5">
        <div class="form-2-wrapper" style="height:100% ; width:100%">
          <img width="200px" src="/assets/images/relevantzlogo.jpg" alt="Relevantz Logo" style="margin-left: 30%;">
         <form class="forgot-form" [formGroup]="forgotForm" id="forgotForm">
          <div class="mt-5 mb-3 form-box formGroup">
            <label class="col-form-label col-form-label-lg">Enter registered email</label>

            <input type="email" placeholder="User Email" formControlName="email" id="email" name="email"
              class="form-control mb-3">
            <div *ngIf="forgotForm.get('email')!.touched && forgotForm.get('email')!.invalid" class="error-message">
              <div *ngIf="forgotForm.get('email')!.hasError('required')">
                <font color="red">*Email Id is required</font>
              </div>
              <div *ngIf="forgotForm.get('email')!.hasError('pattern')">
                <font color="red">*Invalid Email Id</font>
              </div>
            </div>
          </div>
          <button type="submit" id="login" class="btn login-btn w-100 mt-3 mb-3" [disabled]="forgotForm.invalid"
            (click)="verifyEmail(forgotForm.value)">Sign In</button>
          <!-- <button class="btn btn-primary" type="submit" name="loginbutton" id="submit" (click)="verifyEmail(forgotForm.value)"
                [disabled]="forgotForm.invalid"><b>Submit</b></button> -->
          <br><br>
          <div *ngIf="message.valueOf()">
            <p class="alert alert-danger" id="alert">
              <strong>OOPS!</strong>&nbsp;&nbsp;&nbsp;{{message}}
            </p>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>