 
<app-navbar></app-navbar>
 
 
 
<div class="tab_container">
 
  <input id="tab1" type="radio" class="radio" name="tabs" checked>
 
  <label for="tab1" class="tabs"><i class="fa fa-code"></i><span>Registered Employees ({{ userCount.registeredEmployeeCount}})</span></label>
 
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2" class="tabs"><i class="fa fa-pencil-square-o"></i><span>New Employees ({{ userCount.newEmployeeCount}})</span></label>
 
  <input id="tab3" type="radio" name="tabs">
  <label for="tab3" class="tabs"><i class="fa fa-bar-chart-o"></i><span>Existing Employees ({{ userCount.existingEmployeeCount}})</span></label>
 
 
 
  <section id="content1" class="tab-content">
   
    <!-- <h2 align="center">Auto Generate Password</h2> -->
 
    <table class="table  table-hover table-responsive">
      <thead>
        <tr scope="row" style="background-color: #27235c;color:white;font-size: large;">
         
          <td scope="col">Name</td>
          <!-- <td scope="col">Last Name</td> -->
          <td scope="col">Email ID</td>
          <td scope="col">Mobile Number</td>
          <td scope="col">Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of generateList" scope="row">
         
          <td scope="col">{{emp.userFirstName}}&nbsp;{{emp.userLastName}}</td>
          <!-- <td scope="col"></td> -->
          <td scope="col">{{emp.userEmailId}}</td>
          <td scope="col">{{emp.userMobileNumber}}</td>
          <td scope="col"><button type="button" class="btn btn-warning"
              (click)="generateEmployeePassword(emp.userEmailId)">Generate Password</button></td>
        </tr>
      </tbody>
    </table>
  </section>
 
 
 
  <section id="content2" class="tab-content">
    <!-- <h2 align="center">Mapping New Employees</h2> -->
 
    <table class="table table-hover table-responsive">
      <thead>
        <tr scope="row" style="background-color: #27235c;color:white;font-size: large;">
         
          <td scope="col">Name</td>
          <!-- <td scope="col">Last Name</td> -->
          <td scope="col">Email ID</td>
          <td scope="col">Mobile Number</td>
          <td scope="col">Configure</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employeemappingList" scope="row">
     
          <td scope="col">{{emp.userFirstName}}&nbsp;{{emp.userLastName}}</td>
          <!-- <td scope="col"></td> -->
          <td scope="col">{{emp.userEmailId}}</td>
          <td scope="col">{{emp.userMobileNumber}}</td>
          <td scope="col">
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success"
              (click)="dataCollect(emp)">Configure Employee</button>
          </td>
        </tr>
      </tbody>
    </table>
 
 
 
    <!--Update Model-->
    <div class="modal fade" id="exampleModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Configure Employee</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="myForm" id="myform">
 
             
              <input type="text" class="form-control" formControlName="userFirstName"
                [placeholder]="employeeDetail.userFirstName ">
              <!-- [(ngModel)]="employeeDetail.userFirstName " readonly> -->
              <div *ngIf="myForm.get('userFirstName')!.touched && myForm.get('userFirstName')!.invalid">
                <div *ngIf="myForm.get('userFirstName')!.hasError('required')">
                  <div id="condition">User ID is required</div>
                </div>
                <div *ngIf="myForm.get('userFirstName')!.hasError('pattern')">
                  <div id="condition"> Invalid User ID</div>
                </div>
              </div><br>
 
             <br>
 
              <!-- <select class="form-select" name="Region" id="" formControlName="region"
                (change)=" getdepartment(myForm.value)" multiple >
                <option value="" disabled selected hidden>Select Region/Location</option>
                <option *ngFor="let reg of regList" [value]="reg.regionId">{{reg.regionName}}</option>
              </select>
              <br> -->
         
             
            <p-multiSelect formControlName="region" [options]="regList" [style]="{'width':'50%'}"  (onChange)=" getdepartment(myForm.value)"
            optionValue="regionId" optionLabel="regionName" placeholder="Select Region"> </p-multiSelect>
         
             
              <br>
 <br>
             
              <!-- <select class="form-select" id="inputSelectReason" class="form-control" formControlName="department"
                (change)=" getproject(myForm.value)"  multiple >
                <option value="" disabled selected hidden>Select Department</option>
                <option *ngFor="let dep of depList" [value]="dep.departmentId">{{dep.departmentName}}</option>
              </select>
              <br> -->
 
              <p-multiSelect formControlName="department" [options]="depList" [style]="{'width':'50%'}"  (onChange)=" getproject(myForm.value)"
              optionValue="departmentId" optionLabel="departmentName" placeholder="Select Department"> </p-multiSelect>
              <br>
         
            <br>
              <!-- <select formControlName="project"   class="form-control"   multiple  >
                <option value="" disabled selected >Select projects</option>
                <option *ngFor="let project of projectList1" [value]="project.projectId">
                  {{project.projectName}}
                </option>
              </select> -->
             
                <p-multiSelect formControlName="project" [options]="projectList1" [style]="{'width':'50%'}"
              optionValue="projectId" optionLabel="projectName" placeholder="Select project"> </p-multiSelect>
             
            </form>
            <br>
            <p>{{result}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary"  id="submit"  (click)="update(myForm.value)"
              [disabled]="!myForm.valid">Submit</button>
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          </div>
        </div>
      </div>
    </div>
  </section>
 
  <section id="content3" class="tab-content">
 
    <!-- <h2 align="center">Mapping Existing Employees</h2> -->
    <table class="table table-hover table-responsive">
      <thead>
        <tr scope="row" style="background-color: #27235c;color:white;font-size: large;">
         
          <td scope="col">Name</td>
          <!-- <td scope="col">Last Name</td> -->
          <td scope="col">Email ID</td>
          <td scope="col">Mobile Number</td>
          <td scope="col">Region Name</td>
          <td scope="col">Department Name</td>
          <!-- <td scope="col">Department Id</td> -->
          <td scope="col">Project Name</td>
 
          <!-- <td scope="col">Project Name</td> -->
          <td scope="col">Configure</td>
        </tr>
      </thead>
 
      <tbody>
        <tr *ngFor="let emp of existingemployeeList" scope="row">
     
          <!-- <td scope="col">{{emp.userFirstName}}</td> -->
          <td scope="col">{{emp.userFirstName}}&nbsp;{{emp.userLastName}}</td>
          <td scope="col">{{emp.userEmailId}}</td>
          <td scope="col">{{emp.userMobileNumber}}</td>
         
          <!-- <td scope="col">{{emp.department}}</td> -->
          <ng-container scope="col" *ngFor="let pro of UserProjects">
            <td  *ngIf="emp.userId==pro.userId"scope="col">{{pro.regionName}}</td>
            <td  *ngIf="emp.userId==pro.userId"scope="col">{{pro.departmentName}}</td>
            <td *ngIf="emp.userId==pro.userId">{{pro.projects}}</td>
 
         
         
          </ng-container>
          <!-- <td scope="col">{{emp.projectName}}</td> -->
          <td scope="col">
            <button type="button" style="width: 65%;height:60%" data-bs-toggle="modal" data-bs-target="#exampleModal1" class="btn btn-info"
              (click)="dataCollect(emp)">Edit</button>
          </td>
        </tr>
 
      </tbody>
    </table>
    <!--Update Model-->
    <div class="modal fade" id="exampleModal1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Configure Employee</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="myForm" id="myform">
              <input type="text" class="form-control" formControlName="userFirstName"
                [placeholder]="employeeDetail.userFirstName" [(ngModel)]="employeeDetail.userFirstName " readonly>
              <div *ngIf="myForm.get('userFirstName')!.touched && myForm.get('userFirstName')!.invalid">
                <div *ngIf="myForm.get('userFirstName')!.hasError('required')">
                  <div id="condition">User ID is required</div>
                </div>
                <div *ngIf="myForm.get('userFirstName')!.hasError('pattern')">
                  <div id="condition"> Invalid User ID</div>
                </div>
              </div><br>
 
              <p id="label">Region Name</p>
 
              <!-- <select class="form-control" name="Region" id="inputSelectReason" formControlName="region"
                (change)="getdepartment(myForm.value)" multiple>
                <option value="" disabled selected hidden>Select Region/Location</option>
                <option *ngFor="let reg of regList" [value]="reg.regionId">{{reg.regionName}}</option>
              </select>
              <br> -->
 
              <p-multiSelect formControlName="region" [options]="regList" [style]="{'width':'50%'}"  (onChange)=" getdepartment(myForm.value)"
              optionValue="regionId" optionLabel="regionName" placeholder="Select Region"> </p-multiSelect>
              <br>
 
              <p id="label">Department Name</p>
 
              <!-- <select class="form-select" id="inputSelectReason" class="form-control" formControlName="department"
                (change)=" getproject(myForm.value)" multiple>
                <option value="" disabled selected hidden>Select Department</option>
                <option *ngFor="let dep of depList" [value]="dep.departmentId">{{dep.departmentName}}</option>
              </select> -->
             
 
              <p-multiSelect formControlName="department" [options]="depList" [style]="{'width':'50%'}"  (onChange)=" getproject(myForm.value)"
              optionValue="departmentId" optionLabel="departmentName" placeholder="Select Department"> </p-multiSelect>
              <br>
 
              <p id="label">Project Name</p>
 
              <!-- <select formControlName="project" class="form-control" multiple>
                <option value="" disabled selected>Select projects</option>
                <option *ngFor="let project of projectList1" [value]="project.projectId">
                  {{project.projectName}}
                </option>
              </select> -->
 
 
             
 
 
             
                <p-multiSelect formControlName="project" [options]="projectList1" [style]="{'width':'50%'}"
              optionValue="projectId" optionLabel="projectName" placeholder="Select project"> </p-multiSelect>
             
 
            </form>
           
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary"  id="submit"  (click)="update(myForm.value)"
              [disabled]="!myForm.valid">Submit</button>
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          </div>
        </div>
      </div>
    </div>
 
  </section>
 
 
</div>
