body {
    background: linear-gradient(to bottom left, #524f7d 0%, #ffffff 30%);
}

#what {
    width: 45%;
    margin-left: 33%;
    font-family: 'proxima_nova_rgregular';
}

#post {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #ffffff;
    border-radius: 10px;
}

#head {
    font-size: medium;
    background-color: #cccccc;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
   
}

#whatt {
    width: 45%;
    margin-left: 33%;
    margin-top: 8%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;

}

section {
    margin-top: 5%;

}

section:hover {
    box-shadow: 0 3px 10px #27235c;
}

.right {
    position: relative;
    left: 10px;
}

app-texteditor {
    margin-right: 20%;
}

#delete {
    border: none;
    background: none;
}

#edit {
    border: none;
    background: none;
}

button {
    padding: 0;
    border: none;
    background: none;
    font-size: small;
}

:host ::ng-deep img {
    width: 50%;
    height: 50%
}

/* #cnt {
    position: static;
    color: #333333;
}
 
.bi-hand-thumbs-up-fill
{
   
    fill: #1565c0;
}



#button:hover{
    background-color: rgb(244, 245, 247);
 
}
 
 
#time {
    font-size: 12px !important
   
}
 
 .socials i {
    margin-right: 14px;
    font-size: 17px;
    color: #101111;
    cursor: pointer
   
}
 

  */
*/ */ .circle {
    border-radius: 50%;
    width: 50px;
    height: 60px;
    display: flex;

    img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
}

.cls-1 {
    fill: #231f20;
}

.cls-2 {
    fill: #ffffff;
}

.cls-3 {
    fill: #00a1d3;
}

.cls-4 {
    fill: #f7d2d0;
}

.cls-5 {
    fill: #c6b9c4;
}

.cls-6 {
    fill: #ff8e5a;
}

.btn-block {
    font-size: medium;

}