<form [formGroup]="myForm" id="myForm" *ngIf="hideform" >
 
    <div class="card mt-5">
 
        <div class="card-header" id="surname">
            {{survey.surveyName}}
        </div>
 
        <div class="card-body">
            <div *ngFor="let pg of pages;let i='index';let l=last">
                <div *ngIf="num1==i">
                <div class="card" id="content">

              <div id="pgtitle">
                {{pg.pageTitle}}
             </div>
 
            
             <div *ngFor="let qn of question;let j='index'">
                <!-- <div *ngIf="pg.pageId==qn.pageId">       -->
 
                            <div class="card-body">
                                {{qn.questions}}<span *ngIf="qn.mandatory==true">*</span>
 
 
                                <div class="mt-4" [ngSwitch]="qn.optionType" *ngFor="let opt of options;let k='index'">
                                    <div *ngIf="qn.questionId==opt.questionId">
                                        <!-- <div *ngIf="myForm.get('optionId{{j}}')!.touched && myForm.get('optionId{{j}}')!.invalid && qn.mandatory==true"> -->
                                        <div *ngIf="qn.optionType=='Radio'">
                                            <input *ngIf="qn.mandatory==false" type="radio" formControlName="optionId{{j}}" name="optionId{{j}}"
                                                value="{{opt.optionId}}" (change)="getValue(opt.optionId)" >
                                            <input *ngIf="qn.mandatory==true" type="radio"  formControlName="optionId{{j}}" name="optionId{{j}}"
                                                value="{{opt.optionId}}" (change)="getValue(opt.optionId)" required>
                                               
                                            &nbsp;<label for="opt.options">{{opt.options}}</label>
                                            
                                            
                                        </div>
                                    <!-- </div> -->
 
                                    </div>
                                </div>
                                <!-- </div> -->
 
 
                                <div [ngSwitch]="qn.optionType" *ngFor="let opt of options">
                                    <div *ngIf="qn.questionId==opt.questionId">
 
 
                                        <div *ngIf="qn.optionType=='Checkbox'">
                                            <input type="checkbox" formControlName="optionId{{j}}" value="{{opt.optionId}}"
                                                (change)="onCheckboxChange(j,opt.optionId, $event)" required/>
                                            <!-- [(ngModel)]="opt.is" -->
                                            &nbsp;<label>{{opt.options}}</label>
                                        </div>
                                    </div>
                                </div>
 
                                <div class="mt-4" *ngIf="qn.optionType=='Dropdown'" id="dropopt">
                                    <div >
                                        <select class="form-select" formControlName="optionId{{j}}">
                                            <ng-container *ngFor="let opt of options">
                                                <option *ngIf="opt.questionId==qn.questionId" value="{{opt.optionId}}">
                                                    {{opt.options}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
 
 
                                <div>
                                    
 
                                   
                                </div>
                            </div>
              <!-- </div> -->
                    </div>
 
                </div>
                <button type="submit" class="btn btn-success" (click)="getquestions(pg)" (click)="insertAnswer(myForm.value)" *ngIf="!l"
                                        (click)="nextQuestion()" id="btnnew">Next
                </button>
                 
                <button type="submit" class="btn btn-primary mt-4" (click)="insertAnswer(myForm.value)" (click)="submit()"
                *ngIf="l" id="btnnew">Submit</button>
            </div>
                
            </div>
           
 
 
 
        </div>
 
    </div>
 
</form>
 
 
 
