<div class="container-fluid">
  <div class="row">
    <div class="col-sm-auto sticky-top " style="background-color: #27235c;">
      <div class="d-flex flex-sm-column flex-row flex-nowrap align-items-center sticky-top"
        style="background-color: #27235C;">
        <ul
          class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 align-items-center"
          style="background-color: #27235C">



          <br>
          <a routerLink="/poll" class="nav-link " title="" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-original-title="Dashboard">
            <img src="assets/relevantz-logo.png" style="width: 35px;">
            <p style="color: white;font-size: smaller;">POLL</p>
          </a>


          <li routerLink="/create">
            <a class="nav-link " title="" data-bs-toggle="tooltip" data-bs-placement="right"
              data-bs-original-title="Dashboard">
              <i class="fa fa-plus" style="font-size: 20px;"></i>
              <p style="color: white;font-size: smaller;">Create</p>
            </a>
          </li>
          <li routerLink="/polldept">
            <a class="nav-link  px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
              data-bs-original-title="Orders">
              <i class="fa fa-chain " style="font-size: 20px;"></i>

              <p style="color: white;font-size: smaller;">Depart</p>
            </a>
          </li>

          <li routerLink="/draft">
            <a class="nav-link  px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
              data-bs-original-title="Orders">

              <i class="fa fa-newspaper-o" style="font-size: 20px;"></i>
              <p style="color: white;font-size: smaller;">Draft</p>
            </a>
          </li>


          <li routerLink="/viewEmployee">
            <a class="nav-link  px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
              data-bs-original-title="Orders">

              <i class="fa fa-users" style="font-size: 20px;"></i>
              <p style="color: white;font-size: smaller;">Employee</p>
            </a>
          </li>

          <li><br>
            <br>
          </li>
          <li routerLink="/User">
            <a class="nav-link  px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
              data-bs-original-title="Orders">

              <i class="fa fa-home" style="font-size: 20px;"></i>
              <p style="color: white;font-size: smaller;">Home</p>
            </a>
          </li>
          <br>

        </ul>
      </div>
    </div>


    <div class="col-sm p-3 min-vh-100">
      <div *ngIf="pollCreatemsg">
        <div class="alert alert-success w-50" role="alert" id="pollMsg">
          Poll created Successfully <button (click)="pollMsgClose()" class="btn-close" id="msgbtn"> </button>
        </div>
      </div>

      <div *ngIf="pollDraftmsg">
        <div class="alert alert-success w-50" role="alert" id="pollDraftMsg">
          Poll Drafted Successfully <button (click)="pollDraftClose()" class="btn-close" id="draftmsgbtn"> </button>
        </div>
      </div>

      <div class="container mt-4">

        <div class="card">
          <div class="card-header">
            Share Your Poll
          </div>
          <div class="card-body">
            <form class="example-form" [formGroup]="pollForm">
              <div>
                <b>Poll Question</b>
                <div class="form-group shadow-textarea">
                  <p-editor [style]="{ height: 'auto'}" formControlName="pollQuestion">
                    <ng-template pTemplate="header">
                      <!-- <span class="ql-formats">
                        <select class="ql-font"></select>
                        <select title="Font Size" class="ql-size"></select>
                      </span>
                      <span class="ql-formats">
    
                      </span> -->
                      <span class="ql-formats">
                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                        <button type="button" class="ql-strike" aria-label="strike"></button>
                      </span>
                      <span class="ql-formats">
                        <select class="ql-align"></select>
                        <button type="button" class="ql-clean" aria-label="clean"></button>
                        <button type="button" class="ql-image" aria-label="Image"></button>
                      </span>
                    </ng-template>
                  </p-editor>
                </div>
                <div *ngIf="pollForm.get('pollQuestion')!.touched && pollForm.get('pollQuestion')!.invalid">
                  <div *ngIf="pollForm.get('pollQuestion')!.hasError('required')">
                    <p> * Poll Question is required</p>
                  </div>
                </div>
              </div>
              <hr>
              <div formArrayName="options">
                <div class="form-group" [formGroupName]="i"
                  *ngFor="let group of optionArray.controls.slice(0,10); let i = index">
                  <div class="form-check">
                    <div class="row">
                      <tr class="w-100 form-check"><b>Poll Option</b>
                        <div class="d-flex">

                          <input type="text" class="form-control mb-1 w-50 mt-2" placeholder="Your option" value=""
                            formControlName="value" />
                          <!-- Image Upload -->

                          <label class="mt-3 m-2 d-flex">

                            <input type="file" (change)="onFileSelected($event, i)"
                              (change)="showPreviewImage($event,i)" accept="image/png" style="display: none;">
                            <svg xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 0 24 24" width="22" fill="#529aff"
                             >
                              <path d="M0 0h24v24H0V0z" fill="none" />
                              <path
                                d="M18 20H4V6h9V4H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-9h-2v9zm-7.79-3.17l-1.96-2.36L5.5 18h11l-3.54-4.71zM20 4V1h-2v3h-3c.01.01 0 2 0 2h3v2.99c.01.01 2 0 2 0V6h3V4h-3z" />
                            </svg>

                          </label>



                          <div class="d-flex">

                            <img [src]="previewImages[i]" *ngIf="previewImages[i]" class="img-thumbnail m-2" width="40">

                            <svg *ngIf="i > 1" xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 0 26 26" width="22" class="w-6 h-6 mt-3" (click)="removeOption(i)" fill="#ff5252" 
                              viewBox="0 0 512 512">
                              <path
                                d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z" />
                            </svg>
                          </div>
                 



                        </div>
                      </tr>
                    </div>
                  </div>

                </div>

              </div>
              <div class="form-row org-desc-parent-margin ml-4" style="float:right">
                <button class="border border-primary text-primary cursor-pointer bg-white" (click)="addOption()"
                  id="addbutton">
                  + Add Option
                </button>

              </div>

              <div class="form-check form-switch">

                <table>
                  <tr class="float-md-end ml-auto p-2">

                    <div class="d-flex">
                      <td>
                        <b>Select Option</b>
                        <select class="form-select form-select-sm" id="inputSelectReason" class="form-control"
                          formControlName="map">
                          <option value="" disabled selected hidden>Select</option>
                          <option *ngFor="let map of mapList" [value]="map.id+'+'+map.value">
                            {{ map.name }}
                          </option>
                        </select>
                      </td>

                      <td>
                        <b>End Date</b>
                        <input type="date" class="form-control" placeholder="EndDate" formControlName="endDate"
                          (change)="validDate(pollForm.value)">
                        <div *ngIf="pollForm.get('endDate')!.touched && pollForm.get('endDate')!.invalid">
                          <div *ngIf="pollForm.get('endDate')!.hasError('required')">
                            <p> * Poll End Date is required</p>
                          </div>
                        </div>
                        <div>
                          <p>
                            {{msg}}
                          </p>
                        </div>
                      </td>
                    </div>
                  </tr>

                </table>

              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                  (click)="toggleDisabledComments()">
                <label class="form-check-label float-end" for="flexSwitchCheckDefault">Disabled Comments</label>
              </div>
              <div class="form-group mt-8">

                <hr>
                <div style="float: right;">
                  <button class="btn btn-sm m-2" type="button" id="savedraftbutton" (click)="draft(pollForm.value)"
                    [disabled]="!pollForm.valid">
                    Save draft
                  </button>
                  <button type="submit" *ngIf="!label" class="btn   btn-sm m-2" (click)="performPollInsert(pollForm.value)"
                    [disabled]="!pollForm.valid">
                    Share
                  </button>
                  <!-- <button type="submit" *ngIf="!toggle" class="btn btn-sm m-2"
                    (click)="createPollPreference(pollForm.value)" [disabled]="!pollForm.valid">
                    Share
                  </button> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


  </div>