<!-- <app-usernavbar></app-usernavbar> -->
 
<div class="card" id="outer-card">
    <div class="card-header" id="header">
    </div>
    <div class="card-body" id="outer-body">
        <div class="card" id="inner-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHvZ0pbf4bXvAJgVZVuRQqrNWnoWl96cV6wQ&usqp=CAU"
                class="rounded-circle" width="150">
            <div class="card-body">
                <h2 class="card-text" id="inner-text"><b>Minion</b></h2>
 
                <p>{{user.userId}}</p>
                <p>{{user.userFirstName}}</p>
            </div>
        </div>
    </div>
</div>