
.left .item-menu {
  height:50px;
  overflow:hidden;
  color:#fff;
}  
.left a{
color: white;
text-decoration: none;
font-weight: bold;
}
span.menu{
padding-left: 17px;
}
.t_search {
color: black;
height: 35px;
margin-left: 15px;
width: 190px
}
 
.example-spacer {
flex: 1 1 auto;
}
 
.mat-mdc-form-field {
font-size: 14px;
width: 10%;
 
}
 
#side{
margin-top: 0px;
}
.img{
width:0;
}

#home{
margin-top: 12%;
margin-left: 5%;
width: 90%;
 
}
 
img{
margin-top: 5px;
height: 90%;
width: 20%;
 
}
 
 
@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
font-family: 'Roboto', sans-serif;
}
h1{
text-align: center;
color: #4181ee;
}
.wrapper{
display: flex;
justify-content: center;
flex-wrap: wrap;
min-height: 450px;
transition: background-image 0.5s ease;
 
}
 
.card{
max-width: 320px;
min-height: 400px;
background: #27235c; ;
padding: 30px;
border-radius: 3px;
box-sizing:content-box;
color: #000000;
margin:20px;
 
/* box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px; */
}
.card:nth-child(2){
background: #ffffff;
}
 
.card:last-child{
background: #ffffff;
}
 
.card-title{
margin-top: 0;
font-size: 16px;
font-weight: 600;
letter-spacing: 1.2px;
}
 
.card-content{
font-size: 14px;
letter-spacing: 0.5px;
line-height: 1.5;
}
 
.card-btn{
all: unset;
display: block;
margin-left: 25%;
margin-top: 40%;
width: 40%;
border: 2px solid #FFF;
padding: 10px 15px;
border-radius: 25px;
font-size: 10px;
font-weight: 600;
transition: all 0.5s;
cursor: pointer;
letter-spacing: 1.2px;
background: #97247E;
color:#ffffff;
 
}
.card-btn:hover{
background: #27235c;
padding: 11px 16px;
transition-duration: 0ms;
 
}
 
.hovereffect {
  width: 120%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  border-radius: 10%;
 
}
 
.hovereffect .overlay {
  width: 80%;
  height: 91%;
  position: absolute;
  overflow: hidden;
  left: 0;
  /* background-color: #27235c; */
  top: -200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.1s ease-out 0.5s;
  transition: all 0.0s ease-out 0.1s;
  border-radius: 10%;
}
 
.hovereffect:hover .overlay {
  opacity: 1;
  top: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  background-color: #27235cc1
}
 
.hovereffect img {
  display: block;
  position: relative;
  width: 80%;
 
}
 
.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: #27235c;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.hovereffect p{
  color: #fff;
  text-align: center;
  padding-top: 30%;
 
 
}
 
.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.0s;
  transition-delay: 0.0s;
}
 