

.dropdown-container {
    display: inline-block;
    /* margin-right: 2%; */

}



form{
    width: 70%;
    margin-left: 28%;
    margin-top: 8%;
    background-color:#ffffff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}
form:hover{
    box-shadow: 0 3px 10px #27235c; 
}
#richtext {
    position:relative;
    border-radius: 5px;
    background-color: #ffffff ;
    margin: 0;
    vertical-align: baseline;
  
  
}

.share{
    padding-left: 15%;
}

#Share{
    background-color: #27235C;
    color: white;
    
}

#Draft{
    background-color: #CCCCCC;
    color: #27235C;
  
}
.btn-bd-primary {  
    --bs-btn-font-weight: 600;  
    --bs-btn-color: var(--bs-white);  
    --bs-btn-bg: var(--bd-violet-bg);  
    --bs-btn-border-color: var(--bd-violet-bg);  
    --bs-btn-hover-color: var(--bs-white);  
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};  
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};  
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);  
    --bs-btn-active-color: var(--bs-btn-hover-color);  
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)}; 
     --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
    }
#commentStatus{
    position: absolute;
}
.jeb:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-left: 25%;
}