<app-subnav></app-subnav>

<!-- <div id="jeb"> -->
  <form [formGroup]="contentForm">
    <div class="card-body" style="border-radius: 8px;">
      <div class="d-grid gap-4 d-md-flex justify-content-md-end">
        <button type="submit" class="btn m-2 " id="Draft" routerLink="/draft">My
          Draft ({{draftCount}})</button>
      </div>
      <div class="row">
        <!-- <p-editor [style]="{'height':'auto','border-radius':'2%'}" name="PageContent" formControlName="postContent"
                placeholder="Add your Post here..." id="richtext"></p-editor> -->
        <p-editor [(ngModel)]="contentForm.value.postContent" [style]="{'height':'200px'}" name="PageContent"
          formControlName="postContent" id="richtext"></p-editor>
        <br>
      </div>
      <br>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
          (click)="toggleDisplayShare()">
        <label class="form-check-label" for="flexSwitchCheckDefault" *ngIf="!label">Share with Others</label>
        <table>
          <tr class="float-md-end ml-auto p-2">

            <div class="field" *ngIf="!toggle">
              <td>
                <select class="form-select form-select-sm" id="inputSelectReason" class="form-control"
                  formControlName="map">
                  <!-- (change)="getDepartment(pollForm.value)" -->

                  <option value="" disabled selected hidden>Select</option>
                  <option *ngFor="let map of mapList" [value]="map.id+'+'+map.value">
                    {{ map.name }}
                  </option>
                </select>
              </td>
            </div>
          </tr>
        </table>
      </div>
      <div class="d-grid gap-4 d-md-flex justify-content-md-end">


        <!-- routerLink="/draft" -->

        <button type="submit" class="btn m-2" id="Share" (click)="insertPost(contentForm.value)">
          Share</button>
        <!-- routerLink="/postnav" -->
      </div>
    </div>
  </form>
<!-- </div> -->